{% extends "layout.html" %}
{% block title %}- {{ name }}{% endblock %}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>{{ name }}</h1>
                        <p>With our site, you can store your favorite things about Adventure Time! Enjoy !</p>
                        <img src="/static/img/adventure.gif" alt="Loading" title="Loading"/>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}
